# inspired by https://bartsimons.me/sync-folders-and-files-on-linux-with-rsync-and-inotify/

[Unit]
Description=LNDAutoBackupService
After=network.target

[Service]
Type=notify
NotifyAccess=all
Environment=LNDAB_HOME=/root/lnd-auto-backup
Environment=LNDAB_LAUNCHED_BY_SYSTEMD=1
ExecStart=/bin/bash -c '${LNDAB_HOME}/monitor.sh'
SyslogIdentifier=lnd-auto-backup
Restart=always
RestartSec=1
User=root
Group=root

[Install]
WantedBy=multi-user.target