# inspired by https://bartsimons.me/sync-folders-and-files-on-linux-with-rsync-and-inotify/

[Unit]
Description=LNDAutoBackupService
After=network.target

[Service]
Environment=LNDAB_HOME=/root/lnd-auto-backup
Environment=LNDAB_LAUNCHED_BY_SYSTEMD=1
User=root
Group=root
WorkingDirectory=$LNDAB_HOME
ExecStart=/bin/bash $LNDAB_HOME/monitor.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
SyslogIdentifier=lnd-auto-backup

[Install]
WantedBy=multi-user.target