# inspired by https://bartsimons.me/sync-folders-and-files-on-linux-with-rsync-and-inotify/

[Unit]
Description=LNDAutoBackupService
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root
ExecStart=/bin/bash /root/lnd-auto-backup/monitor.sh
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Environment=LNDAB_LAUNCHED_BY_SYSTEMD=1
SyslogIdentifier=lnd-auto-backup

[Install]
WantedBy=multi-user.target